<header class="row">
  <h1 class="col-xs-12 bold-text">Collections for 2015</h1>
</header>

<div class="row">
  <div class="col-xs-12 box">

    <% @collections.each do |collection| %>
  
      <div class="row">

        <div class="col-xs-12 collection-box">
          <!-- add link role -->
          <h2 class="collection-name"><%= link_to collection.name, collection_path(collection.id), :class => "collection" %></h2>
          <div class="row">
            <div class="col-xs-9 collection-location">
              <%= collection.location %>
            </div>
            
            <div class="col-xs-12">
              <% collection.apparels.take(5).each do |apparel| %>
                <!-- ADD AN ALT TO THE IMAGES TO EXPLAIN THE CONTENT -->
                <%= image_tag("apparels/#{apparel.id}.jpg", :class => "individual-apparel col-xs-2")%>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
