<div class="row">
  <h3 class="col-md-8 col-md-offset-2 col-xs-12 bold-text"><%= @collection.name %></h3>
</div>

<div class="row">
  <div class="col-xs-12 box">

    <% @apparels.each do |apparel| %>
  
      <div class="row">
        
        <div class="col-xs-5  collection-image">
          <%= image_tag("apparels/#{apparel.id}.jpg") %>
        </div> 
      
      
        <div class="col-xs-6">  
          <%= link_to apparel.name, apparel_path, :class => "apparel-link" %>
        </div>  

      </div>
        
    <% end %>  
  </div>
</div>


