<h1>Appointment</h1>

<P>Please fill out the fields below to send us a message to make an appointment. For quick questions, or to get the latest news, visit @ colourfulblind on Twitter.</P>

<form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
  <div class="appointment">
    <input type="text" name="fname" placeholder="Email Address">
  </div>
  <div class="appointment">
    <input type="text" name="fname" placeholder="Make a date">
  </div>
  <div class="appointment">
    <input type="submit" value="Submit">
  </div>
</form>