<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h3>THE PERFECT FIT</h3>

      <P>We’d like to put a face to your name.</P>

      <p>Whether it’s at a trunk show or at our showroom in New York’s Garment District, we believe the best way to understand our customers is by engaging with them in person. Not only do we want you to experience firsthand the fit and feel of ColorfulBlind, but we also want to help you find the pieces that work best for you.</p>

      <h3>Trunk Shows and Events</h3>

      <p>Sign up for our newsletter for details on upcoming trunk shows and events; we’d love to see you there.</p>

      <h3>Personal Appointments</h3>

      <p>Visit our showroom for a personal fitting session with our in-house tailor and patternmaker, or simply stop by to say hello and have a peek at our current collection. Feel free to bring along a guest or two; we know it’s more fun to shop with friends.</p>

      <p>Taking your measurements and understanding your wardrobe needs are essential in achieving the perfect fit. During a half-hour appointment, we’ll take your measurements and discuss how we can tailor our styles for you. Afterwards we’ll create made-to-measure pieces based on your measurements and our conversation. Finished items will then be shipped directly to your doorstep within 2-3 weeks. If you need your pieces sooner, let us know. We’re no strangers to deadlines, and we’ll try to work with your schedule.</p>
    </div>  
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="appointment-border">
        <h3>PRIVATE FITTINGS</h3>
        <p>By Appointment Only</p>
      </div>

      <div>
        <h3>LOCATION</h3>
        <p>270 West 38th Street, Suite 1502
            New York, NY 10018</p>
      </div>

      <div>
        <h3>PHONE</h3>
        <p>(917) 397.0579</p>
      </div>
    </div>

    <div class="col-xs-3 col-xs-offset-1">
    Map
    </div>

    <div class="col-xs-3 col-xs-offset-1">
      <form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
        <div class="appointment">
          <input type="text" name="fname" placeholder="Email Address">
        </div>
        <div class="appointment">
          <input type="text" name="fname" placeholder="Make a date">
        </div>
        <div class="appointment">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>