<div class="row col-xs-8">
  <header>
    <h1 class="uppercase">Frequently Asked Questions</h1>
  </header>

  <p>Don’t see the answer to your question? Send us a message here. We value constant and open dialogue, and engaging directly with our customers helps us become better at what we do.</p>

  <ol>

    <li class="underline"><a href="#1">What is made-to-measure? How do I get made-to-measure pieces from OnePointSix?</a></li>

    <li class="underline"><a href="#2">What is patternmaking? Why is it special to OnePointSix?</a></li>

    <li class="underline"><a href="#3">What if the item I want does not have my size?</a></li>

    <li class="underline"><a href="#4">How do I see the OnePointSix collection?</a></li>

    <li class="underline"><a href="#5">How do I learn about trunk shows?</a></li>

    <li class="underline"><a href="#6">How can I host a trunk show?</a></li>

    <li class="underline"><a href="#7">Does OnePointSix offer e-commerce?</a></li>

    <li class="underline"><a href="#8">What is your return and exchange policy?</a></li>

    <li class="underline"><a href="#9">How will I receive my order?</a></li>

  </ol>

  <ol>
    <li>
      <p class="bold" id="1">What is made-to-measure? How do I get made-to-measure pieces from ColorfulBlind?</p>
      <p>Made-to-measure garments are designs that can be constructed to meet each customer’s unique fit needs. Preview our collection either at a trunk show or at our showroom. Once you have selected the pieces you want, our in-house tailoring specialist will take your measurements and custom tailor the garment to best fit you. At ColorfulBlind, we believe that clothes should fit the wearer and not the other way around.</p>
    </li>

    <li>
      <p class="bold" id="2">What is patternmaking? Why is it special to ColorfulBlind?</p>
      <p>Patternmaking is both a science and an art. Creating the perfect pattern for a piece of clothing depends on finding the ratios that work best while maintaining the integrity of our designer’s vision. This is one of our strongest beliefs at ColorfulBlind – making sure our clothing can best fit you.</p>
    </li>

    <li>
      <p class="bold" id="3">What if the item I want does not have my size?</p>
      <p>The beauty of our made-to-measure service is that you will always be able to find your size. ColorfulBlind’s in-house patternmaker and tailor can take your measurements and tailor a piece specifically for you.</p>
    </li>

    <li>
      <p class="bold" id="4">How do I see the ColorfulBlind collection?</p>
      <p>We love meeting our customers in person. You can see our latest collection at one of our trunk shows or book a personal appointment at our showroom in New York. To receive updates on future trunk shows and events, sign up for our newsletter. When booking a personal appointment, feel free to bring along a guest or two. Shopping is always more fun with friends.</p>
    </li>

    <li>
      <p class="bold" id="5">How do I learn about trunk shows?</p>
      <p>Sign up for our newsletter to get updates on special events and trunk shows.</p>
    </li>

    <li>
      <p class="bold" id="6">How can I host a trunk show?</p>
      <p>You gather 10 or more friends, we’ll bring the champagne and the collection to your doorstep.</p>
    </li>

    <li>
      <p class="bold" id="7">Does ColorfulBlind offer e-commerce?</p>
      <p>Not yet. ColorfulBlind is still growing, and we are working hard to not only offer our customers great clothing, but also a great customer experience.</p>
    </li>

    <li>
      <p class="bold" id="8">What is your return and exchange policy?</p>
      <p>We accept returns and exchanges for ready-to-wear items only within 14 days of purchase. If you are unsatisfied with orders that have been tailored or altered by ColorfulBlind, we are happy to offer a second fitting to make additional adjustments. We do not accept returns and exchanges for made-to-measure pieces.</p>
    </li>

    <li>
      <p class="bold" id="9">How will I receive my order?</p>
      <p>Finished items will be delivered within two to three weeks of purchase. For customers who reside outside of the United States, contact us, as we are more than happy to accept special requests.</p>
    </li>

  </div>