<div class="container">

  <div class="pull-left">
    <img src="assets/front_page/dd_6061.jpg" class="img-responsive" alt"Responsive image">
  </div>

  <div class="row">
    <div class="front-page-bottom-pics">
      <div class-"col-xs-3">
      <img src="assets/front_page/dd.jpg" class="img-responsive" alt"Responsive image">
      </div>

      <div class-"col-xs-3">
      <img src="assets/front_page/dd2_2829.jpg" class="img-responsive" alt"Responsive image">
      </div>

      <div class-"col-xs-3">
      <img src="assets/front_page/pmsf.jpg" class="img-responsive" alt"Responsive image">
      </div>
    </div>  
  </div>

</div>