<div class="container">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("apparels/1.jpg", :alt => "Pic 1") %>
        <!-- <img src="/apparels/1.jpg" alt="Pic 1"> -->
        <div class="carousel-caption">
          The purpose of dress design is to make people feel good, not to express the pain and the suffering of the world in taffeta. - Karl Lagerfeld
        </div>
      </div>
      <div class="item">
        <%= image_tag("apparels/2.jpg", :alt => "Pic 2") %>
        <!-- <img src="assets/apparels/2.jpg" alt="Pic 2"> -->
        <div class="carousel-caption">
          I am open to anything. For me, everything that is in accordance with the zeitgeist is OK. - Karl Lagerfeld
        </div>
      </div>
      <div class="item">
        <%= image_tag("apparels/3.jpg", :alt => "Pic 3") %>
        <!-- <img src="assets/apparels/3.jpg" alt="Pic 3"> -->
        <div class="carousel-caption">
          The keyword of our profession is "desire".  You have to create a desire. - Karl Lagerfeld
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row front-page-margins">
    
    <div class="col-xs-4">
      <div class="image-overlay">
        <a href="collections/">
          <div class="home-feature-overlay">Collections</div>
          <img src="assets/front_page/dd.jpg" class="img-centre img-responsive" alt"Responsive image">
          <%#= image_tag("front_page/dd.jpg", :alt => "dd.jpg") %>
        </a>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="image-overlay">
        <a href="ourstory/">
          <div class="home-feature-overlay">Our Story</div>
          <img src="assets/front_page/dd2_2829.jpg" class="img-centre img-responsive" alt"Responsive image">
          <%#= image_tag("front_page/dd2_2829.jpg", :alt => "dd2_2829.jpg") %>

        </a>
      </div>  
    </div>

    <div class="col-xs-4">
      <div class="image-overlay">
        <a href="/appointment/">
          <div class="home-feature-overlay">Appointments</div>
          <img src="assets/front_page/pmsf.jpg" class="img-centre img-responsive" alt"Responsive image">
          <%#= image_tag("front_page/pmsf.jpg", :alt => "pmsf.jpg") %>
        </a>
      </div>  
    </div>
    
  </div>

  <div class="row bottom-image">
    <!-- <img src="assets/front_page/dd_6061.jpg" class="img-responsive front-page-margins" alt"Responsive image"> -->
    <%= image_tag("front_page/dd_6061a.jpg", :alt => "dd_6061a.jpg") %>
  </div>

  <div class="row">
    <h1>"Are fashion subcultrures losing their definition?"</h1>
  </div>

</div>