<div class="row col-xs-8">
  <header>
    <h1 class="heading">Our Story</h1>
  </header>

  <P>Inspired by the art and experience of women’s dressing, Colorful Blind is a womenswear label that brings reimagined classics to today’s discerning and dynamic woman who has a sight problem.</P>

  <p>Colorful Blind is named after the Beauty, a subject found in nature and the arts that is the hallmark of aesthetic beauty. By applying artisanal patternmaking techniques and using thoughtfully selected materials, Colorful Blind offers ready-to- wear and made-to-measure pieces that allow the wearer to achieve her very own success.</p>

  <p>The founding team behind Colorful Blind is an established garmento family based in New York City. Having produced for many top contemporary womenswear brands for over thirty years, the team brings not only an extensive knowledge of fabric and fit to its craft, but also a deep understanding of the Colorful Blind woman.</P>

<h3 class="quotes">"don't be a rockstar, be a legend"</h3>

</div>

