<h1 class="bold">RETURN POLICY</h1>

<p>If you are unsatisfied with your purchase, you may return any unworn, unwashed, and undamaged merchandise within 14 days of receiving your delivery.</p>

<p>To be eligible for a return, all hangtags must remain attached. If you have received defective merchandise, please contact us immediately upon receiving your item.</p>

<p>Please allow 10-12 business days for your refund to be processed. Your refund will be in the same form as the original purchase. Please note that, depending on your banking institution, it may require additional days for the transaction to be posted to your account.</p>

<p>Regretfully, ColorfulBlind does not cover the cost of return shipping at this time. Please send your merchandise to 270 West 38th Street, Suite 1502, New York, NY 10018 using your preferred courier delivery service. We strongly suggest that you opt for a package tracking service, as ColorfulBlind cannot be responsible for items that are lost during delivery.</p>

<p>ColorfulBlind reserves the right to deny refund if the returned merchandise does not meet our return policy requirements. In this case, the package will be sent back to you.</p>

<h3 class="bold">International Returns</h3>

<p>We do not accept international returns at this time.</p>

<h3 class="bold">Exchanges</h3>

<p>Unfortunately, we cannot accommodate exchanges at this time. For the most efficient service, please return your unwanted items and place a new order.</p>

<p>If you have any questions or concerns, please do not hesitate to call us at (917)-397-0479 or email us at info@colorfulblind.com.</p>