<header>
    <h1 class="uppercase">Size Chart</h1>
</header>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Dress Size</th>
            <th>00</th>
            <th>0</th>
            <th>2</th>
            <th>4</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Chest</td>
            <td>31 1/2</td>
            <td>32 1/2</td>
            <td>33 1/2</td>
            <td>34 1/2</td>
            <td>35 1/2</td>
            <td>36 1/2</td>
            <td>37 1/2</td>
        </tr>

        <tr>
            <td>Waist</td>
            <td>24 1/2</td>
            <td>25 1/2</td>
            <td>26 1/2</td>
            <td>27 1/2</td>
            <td>28 1/2</td>
            <td>29 1/2</td>
            <td>30 1/2</td>
        </tr>

        <tr>
            <td>Hips</td>
            <td>34</td>
            <td>35</td>
            <td>36</td>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Jacket Size</th>
            <th>00</th>
            <th>0</th>
            <th>2</th>
            <th>4</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Chest</td>
            <td>32</td>
            <td>33</td>
            <td>34</td>
            <td>35</td>
            <td>36</td>
            <td>37</td>
            <td>38</td>
        </tr>

        <tr>
            <td>Waist</td>
            <td>28 1/2</td>
            <td>29 1/2</td>
            <td>30 1/2</td>
            <td>31 1/2</td>
            <td>32 1/2</td>
            <td>33 1/2</td>
            <td>34 1/2</td>
        </tr>

        <tr>
            <td>Hips</td>
            <td>34</td>
            <td>35</td>
            <td>36</td>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
        </tr>

        <tr>
            <td>Sleeve</td>
            <td>23 5/8</td>
            <td>23 3/4</td>
            <td>23 7/8</td>
            <td>24</td>
            <td>24 1/8</td>
            <td>24 1/4</td>
            <td>24 3/8</td>
        </tr>
    </tbody>
</table>