<div class="row col-md-8 col-xs-12">
  <h3>TERMS & CONDITIONS</h3>

  <p>Last updated 01 March, 2015</p>

  <p>Welcome to the colorfulblind.com website (the “Site”). Wei Yi LLC (“ColorfulBlind”, “we”, “us” or “our”) provides the Site, and the services on the Site, to you subject to the following terms and conditions (the “Terms of Use”). These Terms of Use set forth the terms governing your use of the Site. In addition, when you use any service on the Site you will also be subject to the rules, policies, terms and conditions applicable to such service and such rules, policies, terms and conditions are incorporated herein by reference. Please read these Terms of Use carefully before you continue to use the Site or submit any information to ColorfulBlind through the Site. Your use of the Site in any form and/or your submission of any information through the Site constitute your agreement to be bound by these Terms of Use.</p>

  <p>ColorfulBlind may modify these Terms of Use from time to time. Modifications shall be effective immediately upon being posted on the Site. You should read these Terms of Use whenever you visit the Site so that you are aware of any modifications. Your use of the Site after modifications have been posted constitutes your agreement to be bound by the Terms of Use as modified. IF YOU ARE NOT WILLING TO BE BOUND BY THE TERMS OF USE, DO NOT USE THE SITE AND DO NOT SUBMIT ANY INFORMATION TO ONEPOINTSIX THROUGH THE SITE.</p>

  <h4 class="bold">Restrictions on Use of the Site.</h4>

  <p>Subject to the terms and conditions of these Terms of Use, ColorfulBlind hereby grants you a revocable, non-transferable, non-exclusive, personal and limited license to use and view the Site solely for purposes of purchasing or reviewing ColorfulBlind merchandise and not for any commercial use or for use with, or on behalf of, any third party. Except as expressly permitted by the foregoing sentence, you may not reproduce, redistribute, publish or otherwise use by electronic or any other means any part of the Site or any Content without ColorfulBlind’s prior written consent.</p>

  <p>You may not use the Site in any manner that interferes with our normal operations or with the use and enjoyment of another user. You may access the Site and the Content only through the user interface provided by us. You agree to use the Site and the services only for their intended lawful purpose and in accordance with all applicable laws.</p>

  <h4 class="bold">Electronic Communications.</h4>

  <p>When you send us emails or use the Site, you are communicating with us electronically and you consent to receive communications from us electronically. We will communicate with you by email or by posting notices on the Site. You agree that all communications that we provide to you electronically satisfy any legal requirement that such communication be in writing.</p>

  <h4 class="bold">Ownership of Content.</h4>

  <p>Our Site includes a combination of content that we, our users and other third parties create (collectively, the “Content”). All of the Content available through the Site, including, but not limited to, written content, interface design and layout, photographs, graphics, images, illustrations, marks, logos, sound or video clips, software code and animation, is trademarked or copyright protected. You may not use, store, display, modify, reproduce, publish, transmit, participate in the transfer or sale of, create derivative works of, distribute, publicly perform, publicly display, or in any way exploit any of the materials or Content on the Site in whole or in part. If you would like to request permission to use any of the Content on the Site, please contact us at inquiry@colorfulblind.com.</p>

  <p>COLORFULBLIND is a registered trademark owned by [Wei Yi LLC] and may not be used or displayed without the prior written consent of ColorfulBlind. Other trademarks, service marks and company names and logos appearing on the Site are the property of ColorfulBlind, its affiliates or their respective owners that have granted the Site the right to use such intellectual property. No right, title or interest in any Site content or in any trademarks, service marks or company names and logos appearing on the Site is transferred to you as a result of your use of the Site.</p>

  <h4 class="bold">Posting and Transmitting Content.</h4>

  <p>You are solely responsible for all materials, whether publicly posted or privately transmitted, that you upload, post, email, transmit, or otherwise make available on the Site (“Your Content”). You agree that Your Content will not violate any right of any third party, including, without limitation, copyright, trademark, privacy or other personal or proprietary rights of any person or entity. You further agree that Your Content will not contain libelous or otherwise unlawful, abusive or obscene material (as determined by ColorfulBlind in its sole discretion), or contain any computer virus or other malicious code that could in any way affect the operation of the Site or any computer that connects to the Site. You may not use false or misleading contact information, pretend to be someone other than yourself, or otherwise mislead ColorfulBlind or its service providers.</p>

  <p>We have the right, but not the obligation, to remove any Content posted to the Site by Site users that may, in our sole discretion, violate these Terms of Use or that is otherwise, in our sole opinion, objectionable. Nonetheless, you understand that by using the Site, you may be exposed to Content that you find offensive or objectionable. Your use of the Site constitutes your acknowledgment that you bear all risks associated with your use of the Site.</p>

  <h4 class="bold">Grant of License.</h4>

  <p>You certify that you own all intellectual property rights in Your Content. ColorfulBlind and its service providers will treat such content posted or transmitted by you as non-confidential and non-proprietary information. Upon posting or transmitting Your Content on or through the Site you grant ColorfulBlind a worldwide, irrevocable, royalty-free, non-exclusive, license, with the right to sublicense, use, reproduce, create derivative works of, distribute, publicly perform, publicly display, transfer, transmit, distribute, and publish Your Content and subsequent versions of Your Content for any and all purposes. Please do not send us any creative ideas or any other plans or proposals that you would like to keep confidential and proprietary. You agree that any information that you provide us will be covered by the license granted herein. Registration and Account Responsibility. Registration on the Site is available to anyone 18 years of age or older who truthfully and accurately provides all required information, including a legitimate email address, and who obtains a unique username and password. Each time you use your username and password on the Site you will be deemed an authorized user of the Site in a manner consistent with these Terms of Use. You are solely responsible for protecting the security and confidentiality of your username and password. You are solely responsible for any and all access to, and activities performed on, the Site including, without limitation, all transmissions and obligations (which shall include, without limitation, all financial obligations) with your username and password whether or not such access or use was authorized by you. You shall immediately notify ColorfulBlind of any unauthorized access to, or use of, your username and/or password or any other breach or threatened breach of the Site’s security of which you become aware.</p>

  <h4 class="bold">Privacy Policy.</h4>

  <p>All of the information that we collect from you and all of the information you provide to us (including, without limitation, personally identifiable information) is subject to our Privacy Policy. Please click here to see our full Privacy Policy.</p>

  <h4 class="bold">Site Directed at United States Visitors.</h4>

  <p>The Site is targeted at and intended for visitors residing in the United States. Given the global nature of the Internet, however, the Site may be accessed by visitors residing outside of the United States. We make no representations or warranties that the Site is appropriate or available for use in countries outside of the United States. Visitors who choose to access the Site from outside of the United States do so at their own initiative and are responsible for compliance with any and all local laws and regulations that may apply to such access.</p>

  <h4 class="bold">Returns.</h4>

  <p>ColorfulBlind does not take title to a returned item until we receive it. In order to receive a refund, the items returned must be in unworn condition with all tags attached and no damage present. You may be subject to fees up to the full price of the returned item if such item arrives damaged or late. We request that you email us at inquiry@colorfulblind.com to let us know of any special circumstances. Risk of Loss. All items purchased from ColorfulBlind are made pursuant to a shipment contract. This means that the risk of loss and title for such items pass to you upon our delivery to the carrier.</p>

  <h4 class="bold">Pricing.</h4>

  <p>Pricing shown on our site are exclusive of taxes. Sales tax will be charged on orders shipped. All prices and offers remain valid as advertised.</p>

  <h4 class="bold">Product Information.</h4>

  <p>Merchandise displayed on the Site may be available in select ColorfulBlind stores (including, without limitation, the Site) or department stores in the United States while supplies last. In some cases, merchandise displayed on the Site may not be available for purchase. ColorfulBlind tries to maintain accurate information on the Site regarding product availability, size and pricing, however, ColorfulBlind does not guarantee that any such information will be accurate. In addition, the actual colors of the products displayed on the Site will depend on the settings of your monitor, and ColorfulBlind cannot guarantee that your monitor’s display of any color will be accurate.</p>

  <h4 class="bold">Site Transactions.</h4>

  <p>ColorfulBlind reserves the right to refuse, in its sole discretion, any order placed on the Site (including, without limitation, orders placed with incorrect information or errors in pricing, including, without limitation, any such errors made by ColorfulBlind). ColorfulBlind further reserves the right to change or modify any order placed on the Site. In the event any order is cancelled or changed, ColorfulBlind will attempt to notify you of such cancellation or change; however, ColorfulBlind does not guarantee that you will receive such notice.</p>

  <h4 class="bold">Links to Third Party Sites.</h4>

  <p>To provide you with access to related sites, our Site may contain links to third party websites. By clicking on or following through to any such websites, you agree to review and agree to such third party website’s terms of use and privacy policies. ColorfulBlind is not responsible for the privacy practices or the content of any such third party websites. ColorfulBlind is not affiliated with, and does not endorse or sponsor, any such third party website or any product or service of any such third party.</p>

  <h4 class="bold">Disclaimers.</h4>

  <p>We disclaim any responsibility for the deletion, the failure to store, the misdelivery, or the untimely delivery of any information or material including, without limitation, any purchase order submitted to or transmitted through the Site.</p>

  <p>WE DO NOT WARRANT THAT THE SITE WILL BE UNINTERRUPTED OR ERROR FREE. IN ADDITION, WE DO NOT MAKE ANY WARRANTY AS TO THE CONTENT ON THE SITE. THE SITE AND THE CONTENT AND SERVICES AVAILABLE ON THE SITE ARE DISTRIBUTED ON AN “AS IS, AS AVAILABLE” BASIS. ANY MATERIAL THAT YOU DOWNLOAD OR OTHERWISE OBTAIN THROUGH THE SITE IS DONE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM YOUR DOWNLOAD OF ANY SUCH MATERIAL. WE MAKE NO WARRANTIES THAT (I) THE SITE WILL MEET YOUR REQUIREMENTS, (II) THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE, (III) THE CONTENT (INCLUDING, WITHOUT LIMITATION, INFORMATION REGARD PRODUCTS, PRICING OR AVAILABILITY) THAT MAY BE OBTAINED FROM THE USE OF THE SITE WILL BE ACCURATE OR RELIABLE, (IV) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL THAT YOU PURCHASE OR OBTAIN THROUGH THE SITE WILL MEET YOUR EXPECTATIONS, (V) THE SITE WILL BE FREE OF VIRUSES OR OTHER HARMFUL OR MALICIOUS CODE, OR (VI) ANY ERRORS ON THE SITE WILL BE CORRECTED.</p>

  <p>WE MAKE NO WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE SITE, ANY CONTENT, OR ANY OF THE SERVICES, TOOLS OR PRODUCTS AVAILABLE ON THE SITE. YOU EXPRESSLY AGREE THAT YOU WILL ASSUME THE ENTIRE RISK AS TO THE QUALITY AND THE PERFORMANCE OF THE SITE AND THE ACCURACY OR COMPLETENESS OF ITS CONTENT.</p>

  <h4 class="bold">Limitation of Liability.</h4>

  <p>IN NO EVENT SHALL ONEPOINTSIX OR ANY OTHER PARTY INVOLVED IN CREATING OR MAINTAINING THE SITE OR ANY OF ITS CONTENTS BE LIABLE FOR ANY DAMAGES (INCLUDING, WITHOUT LIMITATION, DIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, INDIRECT OR PUNITIVE DAMAGES, OR DAMAGES RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT OF YOUR ACCESS TO, USE OF OR INABILITY TO ACCESS OR USE THE SITE, INCLUDING, WITHOUT LIMITATION, DAMAGES TO YOUR COMPUTER EQUIPMENT.</p>

  <p>BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>

  <h4 class="bold">Waiver of Jury Trial.</h4>

  <p>THE PARTIES HEREBY IRREVOCABLY WAIVE ANY AND ALL RIGHT TO TRIAL BY JURY IN ANY LEGAL PROCEEDING ARISING OUT OF OR RELATING TO THIS AGREEMENT OR THE TRANSACTIONS CONTEMPLATED HEREBY.</p>

  <h4 class="bold">Injunctive Relief.</h4>

  <p>You acknowledge that any use of the Site except as expressly permitted by these Terms of Use without the prior written permission of ColorfulBlind will cause irreparable injury for which monetary damages would not be sufficient, and you consent to entry of immediate and permanent injunctive relief with respect to such unauthorized use.</p>

  <h4 class="bold">Indemnification.</h4>

  <p>By utilizing the Site, you agree to indemnify, defend and hold ColorfulBlind and all of its officers, directors, employees, agents, service providers, and licensors (collectively, the “ColorfulBlind Parties”) harmless from and against any and all liability, losses, costs, and expenses (including attorneys’ fees) incurred by any ColorfulBlind Party in connection with any claim, including, but not limited to, claims for defamation, violation of rights of publicity and/or privacy, copyright infringement, or trademark infringement arising out of your use of the Site; any use or alleged use of your accounts or your passwords by any person, whether or not authorized by you; the content, the quality, or the performance of content that you submit to the Site; your connection to the Site; your violation of these Terms of Use; or your violation of the rights of any other person or entity.</p>

  <p>We reserve the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate with our defense of these claims.</p>

  <h4 class="bold">Termination.</h4>

  <p>ColorfulBlind may terminate your access, or suspend any user’s access to all or part of the Site without notice or recourse, for any conduct that ColorfulBlind, in its sole discretion, believes is in violation of any applicable law or of these Terms of Use or is harmful to the interests of another user, a service provider, ColorfulBlind or its affiliates.</p>

  <h4 class="bold">Governing Law.</h4>

  <p>By visiting or using the Site, you agree that the laws of the State of New York, without regard to principles of conflicts of law, will govern our Privacy Policy and these Terms of Use and any dispute of any sort that might arise between you and ColorfulBlind. You agree that any action at law or in equity that arises out of or relates to any use of the Site will be filed only in the state or federal courts located in New York County, and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.</p>

  <h4 class="bold">Copyright Policy and Digital Millennium Copyright Act (“DMCA”) Notice.</h4>

  <p>ColorfulBlind respects the copyright interests of others and, as such, requires our users to comply with these Terms of Use and all applicable laws regarding copyrights. If you believe that any content shown on or transmitted through the Site violates these Terms of Use or your copyright please report the violation. In the case of a copyright violation please provide the following information:</p>

  <ul>
    <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
    <li>a description of where the material that you claim is infringing is located on the Site (including the exact URL);</li>
    <li>an address, a telephone number, and an email address where we can contact you and, if different, an email address where the alleged infringing party, if not ColorfulBlind, can contact you;</li>
    <li>a statement that you have a good-faith belief that the use is not authorized by the copyright or other intellectual property rights owner, by its agent, or by law; and</li>
    <li>a statement by you under penalty of perjury that the information in your notice is accurate and that you are the copyright or intellectual property owner or are authorized to act on the owner’s behalf.</li>
  </ul>

  <p>All notices should be sent to our designated agent as follows:<br>
  ColorfulBlind: inquiry@colorfulblind.com</p>

  <p>It is often difficult to determine if your intellectual property rights have been violated. We may request additional information before we remove allegedly infringing material. If a dispute develops as to the correct owner of the rights in question, we reserve the right to remove the content of both parties.</p>

  <h4 class="bold">Miscellaneous.</h4>

  <p>We may be required by state or federal law to notify you of certain events. You hereby acknowledge and consent that such notices will be effective upon our posting them on the Site or delivering them to you through the email address we have for you. We cannot be held liable if we fail to notify you via mail or email. Our failure to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Site or these Terms of Use must be filed within six (6) months after such claim or cause of action arose or it will be forever barred. These Terms of Use, and all terms, conditions, and policies that are incorporated into these Terms of Use by reference, constitute the entire agreement between you and ColorfulBlind and govern your use of the Site, superseding any prior agreements that you may have with us. If any part of these Terms of Use is determined to be invalid or unenforceable pursuant to applicable law, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision, and the remainder of the Terms of Use shall continue in full force and effect.</p>

  <h4 class="bold">Our Address.</h4>

  <p>Please send any questions or comments regarding this Site to:</p>

  <p>
  ColorfulBlind<br>
  315 West 38th St<br>
  Suite 2002<br>
  New York, NY 10018
  </p>

</div>  

