<h3>Your messages</h3>

<% if @messages.empty? %>
  <p class="text-general text-reading">
    You don't have any messages yet...
  </p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-text">
      <thead>
        <tr>
          <th>#</th>
          <th>Content</th>
          <th>Date of Create</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.id %></td>
            <td><%= message.content %></td>
            <td><%= message.created_at %></td>
            <td><%= link_to "Link to this message", message_path(message.id), :class => "btn btn-xs btn-info" %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
