<h4>Thank you! You have successfully subscribed.</h4>

<p>Your email: <%= @subscriber.email %></p>

<%= image_tag("apparels/2.jpg", :alt => "Pic 2") %>

<h3>"I have street elements in my work because that is where I grew up ... I'm inspired by the men I grew up around and the way that they pushed out style."</h3>