.body{
  height: 100%;
  font-family: Arial, Georgia, serif;
}

.container{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/*.header-top{
  background-color: blue;
}*/

.header-right{
  float: right;
}


.book-an-appointment{
  border-width: 1px;
  border-color: black;
}


.header-text{
  border-bottom: 5px;
  border-color: black;
}


.front-page-bottom-pics{
  margin: 10px;
}

.main{
  background-color: white;
  height: 100%;
  padding-bottom: 20px;
}

.bottom-footer{
  background-color: white;
  border-top: 2px black solid;
  /*border-bottom: 2px black solid;*/
}

.bottom-footer div h4{
  font-weight: bold;
}

.bottom-footer div p{
  font-size: 10px;
}

.rights{
  margin-left: 20px;
}

.terms{
  text-align: right;
}