<footer id="footer">
  <div class="container">
    <div class="row bottom-footer">

      <div>
        <div class="col-xs-3">  
          <h4>CUSTOMER CARE</h4>
          <p><%= link_to "FAQ", faq_path, :class => "FAQ" %></p>
          <p>Size Chart</p>
          <p><%= link_to "Return Policy", return_policy_path, :class => "return_policy" %></p>
          <p>Contact Us</p>
        </div>

        <div class="col-xs-3">
          <h4>INFORMATION</h4>
          <p>Appointments</p>
          <p>Our Story</p>
        </div>

        <div class="col-xs-3">
          <h4>SOCIAL MEDIA</h4>
          <p>Facebook</p>
          <p>Twitter</p>
          <p>Instagram</p>
          <p>Pinterest</p>
        </div>

        <div class="col-xs-3">
          <h4>SIGN UP FOR UPDATES</h4>
          <form class="email-box">
            <input placeholder="Email Address">
            <button class="btn btn-default">
            Subscribe
            </button>
          </form>
        </div>
      </div>

      <div class="row">
        <p class="col-xs-8 rights">
        2015 COLORFUL BLIND ALL RIGHTS RESERVED
        </p>
        <p class="col-xs-3 terms">
        TERMS & CONDITIONS | PRIVICY POLICY
        </p>
      </div>

    </div>
  </div>
</footer>