<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="bottom-footer">

        <div class"col-xs-3">  
          CUSTOMER CARE
        </div>

        <div class"col-xs-3">
          INFORMATION
        </div>

        <div class"col-xs-3">
          SOCIAL MEDIA
        </div>

        <div class"col-xs-3">
          SIGN UP FOR UPDATES
        </div>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="footer-contents">

      <div class="col-xs-3">
        <div>FAQ</div>
        <div>Size Chart</div>
        <div>Return Policy</div>
        <div>Contact Us</div>
      </div>

      <div class="col-xs-3">
        <div>Appointments</div>
        <div>Our Story</div>
      </div>

      <div class="col-xs-3">
        <div>Facebook</div>
        <div>Twitter</div>
        <div>Instagram</div>
        <div>Pinterest</div>
      </div>

      <div class="col-xs-3">
        <div class="email-box">
          Your Email Address ...
        </div>
        <%#=link_to subscribe_path, :class => "btn btn-default btn-xs" %>
          Subscribe
      </div>


    </div>
  </div>
</footer>