<header id="header" class="header">
    <div class="container"> 

    <div class="row">
      <div class="header-top">
        <div class="logo col-xs-9">
        Colorful Blind
        </div>

        <div class="header-right col-xs-3">
          <div class="sign-in">Sign in or create an account
          </div>
          <div class="book-an-appointment">
          Book an Appointment
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="header-text">

        <div class="col-xs-3">Home</div>
        <div class="col-xs-3">Collections</div>
        <div class="col-xs-3">Our Story</div>
        <div class="col-xs-3">Contact</div>

      </div>
    </div>

  </div>
</header>
