<header id="header" class="header">
    <div class="container"> 

    <div class="row">
      <div class="header-top">
        <div class="logo col-xs-9">
        <img src="assets/colorfulblindf.jpg" alt="Colorful Blind">
        </div>

        <div class="header-right col-xs-3">
          <div class="sign-in">Sign in or create an account
          </div>
          <div class="book-an-appointment">
          Book an Appointment
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="header-text">

        <div class="col-xs-3">
        <%= link_to "Home", root_path, :class => "home" %>
        </div>
        <div class="col-xs-3">
        <%= link_to "Collections", collections_path, :class => "collections" %>
        </div>
        <div class="col-xs-3">
        <%= link_to "Ourstory", ourstory_path, :class => "ourstory" %></div>
        <div class="col-xs-3">
        <%= link_to "Contact", contacts_path, :class => "contact" %></div>

      </div>
    </div>

  </div>
</header>
